<div>
    <h1>Register</h1>
</div>
<form action="" id="formRegister">
    <label for="">Nombre</label></br>
    <input type="text" name="nombre"></br>
    <label for="">Apellido</label></br>
    <input type="text" name="apellido"></br>
    <label for="">Email</label></br>
    <input type="text" name="email"></br>
    <label for="">Password</label></br>
    <input type="text" name="password"></br></br>
    <button type="submit">Registrar</button>
</form>




<script src="/js/register.js"></script>